@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

.left_side_bg{
  background:#f7fbff!important;
}

.side_logo{
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
.section_border{
  border-bottom: 1px solid lightgray!important;
}
.side_left_border{
  border-right: 1px solid lightgray!important;

}
.profile_img{
  padding:0px !important;
}
.side_textcolor{
  color:black!important;
}

.side_menu_item{
  border-bottom: 1px solid lightgray!important;
  padding-left: 5px;

}

.menu_item_a{
  margin-bottom: 3px;
  margin-top: 3px;
  color: black!important;
}

.logout_a{
  text-align: left!important;
  width: 100%!important;
  font-size: 14px!important;
  background: #e6e9ed!important;
  padding-left: 20px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important
}

.right_col{
  min-height: 900px!important;
  display: flex;
  justify-content: center;
}

.title_text:before{
    content: '';
    position: absolute;
    width: 41%;
    height: 1px;
    background: lightgrey;
    left: 10px;
    top: 10px;
}

.title_text:after{
    content: '';
    position: absolute;
    width: 41%;
    height: 1px;
    background: lightgrey;
    right: 10px;
    top: 10px;
}
.content_pannel{
  width:100%;  
  
}

.search_input,.main_input{
  border-radius: 7px;
  background:#eaeff3!important
}

.search_btn{
  border-radius: 5px;
  background: #0d418a;
  color:white;
  border:0px;
}

.pannel_title{
  color: #0d418a;
  font-weight: 700;
}

.pannel_bg{
  background: #f7fbff!important;
  border: 1px solid lightgray;

}

 /* users page */

.user_item{
  width:100%;
  height:70px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user_item_avatar{
  width:10%;
  display: flex;

}
.list_avatar{
  width:60px!important;
  height:60px!important;

  margin:auto
}
.user_info_div{
  width:88%;
  display:flex;
  border-bottom: 1px solid lightgray;
}
.user_item_name{
  width:70%;
  margin: auto;
  font-size: 16px;
  color: black;
  padding-left: 10px;
  

}
.user_item_link{
  width:30%;
  margin: auto;
  color: #0d418a;
  cursor: pointer;
  text-align: right;
  padding-right: 20px;
}

.user_link_text {
  color: #337ab7;
  text-decoration: underline;
  font-weight: 700;
}

.user_link_text:hover {
  color: red;
  text-decoration: underline;
  font-weight: 700;

 }
 
 /* profile page */
  .user_report_list{
    width:95%;
    margin:auto;

}
 .profile_avatar{
  width:  120px!important;
  height: 120px!important;
  margin:auto;    
  border: 1px solid lightslategrey;
}
.profile_name{
font-size: 16px;
color: black;
font-weight: 500;
}

.profile_age{
  padding: 8px 16px;
    background: #0d418a;
    border-radius: 5px;
    color: white;
}
.profile_btndiv{
  width:20%;
  margin-left:auto;
  margin-right:auto
}
.ban_btn{
  background: #c5152e;
  color: white;
  border-radius: 7px;
  height: 40px;
}
.lift_btn{
  background: #6495ed;
  color: white;
  border-radius: 7px;
  height: 40px;
}
.user_report_list_title{
    margin-left: 20px;
    font-size: 16px;
    color: #0d418a;
    padding-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
}

.user_report_item{
  width:100%;
  border-bottom: 1px dashed lightgray;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:20px;
  color: black;
  font-weight: 600;
}

/* change password  */
.pass_show{position: relative} 
.pass_show .ptxt { 
  position: absolute; 
  top: 40%; 
  right: 10px; 
  z-index: 1; 
  color: darkgrey; 
  font-size:18px;
  margin-top: -10px; 
  cursor: pointer; 
  transition: .3s ease all; 
} 
.pass_show .ptxt:hover{color: #333333;} 
.save_btn{
  border-radius: 5px;
  background: #0d418a;
  color:white;
  border:0px;
}

 /* abuse ,report page */

 .report_item{
  width:100%;
  height:70px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
}

.report_info{
  width:88%;
  border-bottom: 1px solid lightgray;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 10px;
  color: black;
  font-weight: 600;
}

.report_link_text {
  color: #337ab7;
  font-weight: 700;
  cursor:pointer;
  float: right;
  margin-right: 50px;
}

.report_link_text:hover {
  color: red;
  font-weight: 700;
  cursor:pointer;
  float: right;
  margin-right: 50px;
 }

 .report_label{
   margin-right:5px;
 }

 .report_comment{
  color: #615e5e;
  font-style: italic;

 }

 .report_city{
  color: #1c6cb1;
  font-weight: 900;
 }



  /* report page */
.report_detail_item{
    width: 95%;
    height: 90px;
    display: flex;

    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid lightgray;
}
  .report_info1{
    width:60%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    color: black;
    font-weight: 600;
  }
  .report_info2{
    width:100%;
    margin: auto;
    color: black;
    font-weight: 600;
  }
  .report_del {
    width:30%;
    text-align: right;
    margin: auto;
  }


  .del_report_btn {
    margin: auto;
    width:200px;
    background: #c5152e;
    color: white;
    border-radius: 7px;
  }
  .report_description{
    color:black;
    font-size: 14px;
    font-weight: 600;
  }

  .description_div{
    border: none;
    height: auto;
    padding: 10px;
  }
  .report_detail_media{
    /* margin: 20px;
    height: 500px;
    width: 90%; */
    margin: 20px;
    display: flex;

  }

  .report_slider_div{
    height: 500px;
    width: 100%;
    margin: auto;

  }
  .lSSlideOuter .lSPager.lSpg {

    display: none!important;
  }

  .slider_item{
    margin:auto;
    text-align:center;
    height:500px!important;
    display: flex;
  }

  .slide_photo{
    margin:auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .slide_video{
    width: 95%;
    height:100%;
    margin: auto;
  }

  .slide_audio{
    width: 80%;
    margin: auto;
    border: 1px solid cornflowerblue;
    border-radius: 30px;
  }

  /* Fax request Page */
  .request_item{
    width:100%;
    height:auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .request_content{ 
    width:87%;
    margin: auto;
     color: black;
    font-weight: 600;
    padding: 0px!important;
    background: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    transition: all .2s ease;
  }
  .request_item_avatar{
    width: 10%;
    height: 70px;
    display: flex;
  }
  .request_name{
    width: 98%;
    display: flex;
    height: 40px;
    margin-top: 20px;
  }

  .fax_inputview_btn{
    float:right;
  }

  .request_item_process{
    float:right;
    display: flex;
    color:orange;
  }

  .request_input_area{
    display: flex;
    width: 60%;
  }

  .request_input_city{
    width: 68%;
    margin: auto;
    margin-left: 0px;
  }

  /* .request_input_mail{
    width: 35%;
    margin: auto;
    margin-left: 0px;
  } */

  .request_fax_submitbtn{
    width: 28%;
    /* margin: auto; */
    margin-right: 0px;
  }

  .request_city{
    color: #1c6cb1;
    font-weight: 800;
  }
  
  .request_showbtn{
    width:2%;

  }
  .x_content{
      display:none;
  }


  .toast {
    background-color: #209e91
    }
    
    .toast-success {
    background-color: #90b900
    }
    
    .toast-error {
    background-color: #e85656
    }
    
    .toast-info {
    background-color: #2dacd1
    }
    
    .toast-warning {
    background-color: #dfb81c
    }
    
    #toast-container.toast-bottom-full-width>div,
    #toast-container.toast-top-full-width>div {
    margin: 5px auto
    }
    
    .result-toastr {
    border-radius: 5px;
    color: rgba(255, 255, 255, .9);
    background-color: rgba(0, 0, 0, .33);
    border: none
    }
    
    .sub-label {
    margin-top: 5px
    }
    
    .toast-title {
    font-weight: 400
    }
    
    .toast-message {
    font-weight: 300
    }
    
    #toast-container.toast-bottom-center .toast,
    #toast-container.toast-top-center .toast {
    margin-bottom: 5px
    }
    
    .toast-title,
    b,
    optgroup,
    strong {
    font-weight: 700
    }
    
    .toast-message a,
    .toast-message label {
    color: #FFF
    }
    
    .toast-message a:hover {
    color: #CCC;
    text-decoration: none
    }
    
    .toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8
    }
    
    .toast-top-center,
    .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%
    }
    
    .toast-close-button:focus,
    .toast-close-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4
    }
    
    button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
    }
    
    .toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%
    }
    
    .toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%
    }
    
    .toast-top-left {
    top: 12px;
    left: 12px
    }
    
    .toast-top-right {
    top: 12px;
    right: 12px
    }
    
    .toast-bottom-right {
    right: 12px;
    bottom: 12px
    }
    
    .toast-bottom-left {
    bottom: 12px;
    left: 12px
    }
    
    #toast-container {
    position: fixed;
    z-index: 999999
    }
    
    #toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
    }
    
    #toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #FFF;
    opacity: .8
    }
    
    hr,
    img {
    border: 0
    }
    
    #toast-container .toast:hover {
    -moz-box-shadow: 0 0 12px #000;
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
    opacity: 1;
    cursor: pointer
    }
    
    #toast-container .toast.toast-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important
    }
    
    #toast-container .toast.toast-error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important
    }
    
    #toast-container .toast.toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important
    }
    
    #toast-container .toast.toast-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important
    }
    
    #toast-container.toast-bottom-center .toast,
    #toast-container.toast-top-center .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto
    }
    
    #toast-container.toast-bottom-full-width .toast,
    #toast-container.toast-top-full-width .toast {
    width: 96%;
    margin-left: auto;
    margin-right: auto
    }
    
    body,
    figure {
    margin: 0
    }
    
    .toast {
    background-color: #030303
    }
    
    .toast-success {
    background-color: #51A351
    }
    
    .toast-error {
    background-color: #BD362F
    }
    
    .toast-info {
    background-color: #2F96B4
    }
    
    .toast-warning {
    background-color: #F89406
    }
    
    progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .4
    }
    
    div[toast] {
    opacity: 1 !important
    }
    
    div[toast].ng-enter {
    opacity: 0 !important;
    transition: opacity .3s linear
    }
    
    div[toast].ng-enter.ng-enter-active {
    opacity: 1 !important
    }
    
    div[toast].ng-leave {
    opacity: 1;
    transition: opacity .3s linear
    }
    
    div[toast].ng-leave.ng-leave-active {
    opacity: 0 !important
    }
    
    @media all and (max-width:240px) {
    #toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 11em
    }
    
    #toast-container .toast-close-button {
    right: -.2em;
    top: -.2em
    }
    }
    
    @media all and (min-width:241px) and (max-width:480px) {
    #toast-container .toast.div {
    padding: 8px 8px 8px 50px;
    width: 18em
    }
    
    #toast-container .toast-close-button {
    right: -.2em;
    top: -.2em
    }
    }
    
    @media all and (min-width:481px) and (max-width:768px) {
    #toast-container .toast.div {
    padding: 15px 15px 15px 50px;
    width: 25em
    }
    }